{% extends 'base.html.twig' %}

{% block title %}Pesquisa de Cidadão{% endblock %}

{% block body %}
<div class="container">
    <div class="card">
        <h1 style="text-align: center;">Pesquisa de Cidadão</h1>
        {{ form_start(form, {'attr': {'class': 'form-group'}}) }}
            <div style="text-align: center;">
                {{ form_row(form.nis) }}
            </div>
        {{ form_end(form) }}

        {% if citizen %}
            <div class="alert alert-success">
                Cidadão encontrado: <strong>NOME:</strong> {{ citizen.name }}, <strong>NIS:</strong> {{ citizen.nis }}
            </div>
        {% elseif form.vars.submitted %}
            <div class="alert alert-danger">
                Cidadão não encontrado.
            </div>
        {% endif %}
        <a href="{{ path('app_new_citizen') }}" class="back-link">Voltar para cadastro</a>
    </div>
</div>
{% endblock %}